<!DOCTYPE html>
<html>
  <head>
    <title>Django One Shot</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ todo_item.name }}</h1>
        <div>
          <p>
            <a href="{% url 'todo_list_update' todo_item.id%}">Edit</a>
          </p>
          <p>
            <a href="{% url 'todo_list_delete' todo_item.id %}">Delete</a>
          </p>
        </div>
        <h2>Tasks</h2>
        <table>
          <thead>
            <th>Task</th>
            <th>Due date</th>
          </thead>
          <tbody>
            {% for item in todo_item.items.all %}
            <tr>
              <td>
                <a href="{% url 'todo_item_update' item.id %}"
                  >{{ item.task }}</a
                >
              </td>
              <td>{{ item.due_date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
