<!DOCTYPE html>
<html>
  <head>
    <title>Django One Shot</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <p>
          <a href="{% url 'todo_list_create' %}">Create a new list</a>
        </p>
        <p>
          <a href="{% url 'todo_item_create' %}">Create a new item</a>
        </p>
        <table>
          <thead>
            <th>Name</th>
            <th>Number of Items</th>
          </thead>
          <tbody>
            {% for todos in todo_list %}
            <tr>
              <td>
                <a href="{% url 'todo_list_detail' todos.id %}"
                  >{{ todos.name }}</a
                >
              </td>
              <td>{{ todo_list|length }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
